$interact-border-color: deepskyblue !default;
$interact-border-thickness: 1px !default;
$interact-border-style: solid !default;

$interact-handle-color: white !default;
$interact-handle-border-color: $interact-border-color !default;
$interact-handle-border-thickness: $interact-border-thickness !default;
$interact-handle-border-style: solid !default;
$interact-handle-border-radius: 0 !default;
$interact-handle-size: 9px !default;
$interact-handle-offset: $interact-handle-size/2 + $interact-handle-border-thickness !default;

.interact-canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.interact {
  position: absolute;
  box-sizing: content-box;
}

.interact__inner {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: solid $interact-border-thickness transparent;
  margin: -$interact-border-thickness;
}

.interact__handle {
  position: absolute;
  box-sizing: content-box;
  width: $interact-handle-size;
  height: $interact-handle-size;
  background-color: $interact-handle-color;
  border: $interact-handle-border-style $interact-handle-border-thickness $interact-handle-border-color;
  border-radius: $interact-handle-border-radius;
}

.interact__handle--ul {
  top: -$interact-handle-offset;
  left: -$interact-handle-offset;
}

.interact__handle--ur {
  top: -$interact-handle-offset;
  right: -$interact-handle-offset;
}

.interact__handle--ll {
  bottom: -$interact-handle-offset;
  left: -$interact-handle-offset;
}

.interact__handle--lr {
  bottom: -$interact-handle-offset;
  right: -$interact-handle-offset;
}

.interact__handle--tc {
  top: -$interact-handle-offset;
  left: 50%;
  margin-left: -$interact-handle-offset;
}

.interact__handle--rc {
  right: -$interact-handle-offset;
  top: 50%;
  margin-top: -$interact-handle-offset;
}

.interact__handle--bc {
  bottom: -$interact-handle-offset;
  left: 50%;
  margin-left: -$interact-handle-offset;
}

.interact__handle--lc {
  left: -$interact-handle-offset;
  top: 50%;
  margin-top: -$interact-handle-offset;
}

.interact__image {
  width: 100%;
  height: 100%;
}

.interact--selected .interact__inner {
  border: $interact-border-style $interact-border-thickness $interact-border-color;
}
