.interact {
    background: gray;
    position: absolute;
}

.interact__inner {
    width: 100%;
    height: 100%;
}

.interact__handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: deepskyblue;
}

.interact__handle--ul {
    top: -5px;
    left: -5px;
}

.interact__handle--ur {
    top: -5px;
    right: -5px;
}

.interact__handle--ll {
    bottom: -5px;
    left: -5px;
}

.interact__handle--lr {
    bottom: -5px;
    right: -5px;
}

.interact__handle--tc {
    top: -5px;
    left: 50%;
    margin-left: -5px;
}

.interact__handle--rc {
    right: -5px;
    top: 50%;
    margin-top: -5px;
}

.interact__handle--bc {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
}

.interact__handle--lc {
    left: -5px;
    top: 50%;
    margin-top: -5px;
}

.interact__image {
    width: 100%;
    height: 100%;
}