<h1>sdf</h1>

{{#interact-widget
  draggable=true
  resizable=true
}}
  <img src="https://placeimg.com/640/480/arch" alt="" class="interact__image">
{{/interact-widget}}

{{#interact-widget
  draggable=true
  resizable=true
  resizeHandles="corner"
}}
  <img src="https://placeimg.com/640/480/nature" alt="" class="interact__image">
{{/interact-widget}}