<h1>ember-interact</h1>

<button {{action "reset"}}>Reset</button>

{{#interact-widget
  x=x
  y=y
  width=width
  height=height
  draggable=true
  resizable=(hash
    preserveAspectRatio=true
  )
  resizeHandles="corner"
  onChange=(action "update")
}}
  <div style="position: absolute">{{width}} x {{height}}</div>
  <img src="https://placeimg.com/640/480/nature" alt="" class="interact__image">
{{/interact-widget}}